@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuStyle .ant-menu-submenu .ant-menu-submenu-title {
  color: #9d9fb0 !important;
  font-weight: 500 !important;
}

.menuStyle .ant-menu-submenu-selected .ant-menu-submenu-title {
  color: #323444 !important;
  font-weight: 600 !important;
}

.menuStyle .ant-menu-item {
  padding-left: 2.625rem !important;
  margin: 0 0.25rem;
}

.menuStyle .ant-menu-item-selected {
  background: #fff;
}

.menuStyle .ant-menu-sub {
  background: #fff !important;
}

.menuStyle .ant-menu-item .ant-menu-title-content {
  padding-left: 1.8125rem;
  border-left: 0.125rem solid #f7f7fc;
}

.menuStyle > .ant-menu-item:nth-child(3) {
  padding-left: 1.5rem !important;
  color: #9d9fb0 !important;
  font-weight: 500 !important;
}

.menuStyle > .ant-menu-item-selected:nth-child(3) {
  color: #323444 !important;
  font-weight: 600 !important;
}

.menuStyle > .ant-menu-item:nth-child(3) .ant-menu-title-content {
  padding-left: 0;
  border-left: none;
}

.resettingModalPadding .ant-modal-content {
  position: relative;
  padding: 0;
  box-shadow: none;
  border-radius: 1rem;
}

.videoDatePicker input {
  color: #fff !important;
  width: 10rem !important;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 0 !important;
  width: 0 !important;
}

.tableHiddenScrollBar .ant-table-body::-webkit-scrollbar {
  display: none;
}

.tableHiddenScrollBar .ant-table-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.customSwitch .ant-switch-inner {
  padding-inline-start: 0rem !important;
  padding-inline-end: 1.0625rem !important;
}

.customModal .ant-modal-content,
.customDeviceModal .ant-modal-content {
  padding: 0;
}

.customModal .ant-modal-header {
  padding: 1.5rem 0 0 1.5rem;
}

.customDeviceModal .ant-modal-header {
  padding: 1.5rem;
  border-bottom: 0.0625rem solid #e7e8ee;
}

.customModal .ant-modal-body,
.customDeviceModal .ant-modal-body {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.ant-modal-wrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-modal-wrap::-webkit-scrollbar {
  display: none;
}

.portraitUploadStyle .ant-upload {
  background-color: #f6f8fc;
  margin-bottom: 0 !important;
}

.teamNameSelect .ant-select-item-option-selected {
  border-radius: 2rem !important;
  color: #2853e4 !important;
  font-weight: 500 !important;
}
