@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuStyle .ant-menu-submenu .ant-menu-submenu-title {
  color: #9d9fb0 !important;
  font-weight: 500 !important;
}

.menuStyle .ant-menu-submenu-selected .ant-menu-submenu-title {
  color: #323444 !important;
  font-weight: 600 !important;
}

.menuStyle .ant-menu-item {
  padding-left: 2.625rem !important;
  margin: 0 0.25rem;
}

.menuStyle .ant-menu-item-selected {
  background: #fff;
}

.menuStyle .ant-menu-sub {
  background: #fff !important;
}

.menuStyle .ant-menu-item .ant-menu-title-content {
  padding-left: 1.8125rem;
  border-left: 0.125rem solid #f7f7fc;
}

.menuStyle > .ant-menu-item:nth-child(3) {
  padding-left: 1.5rem !important;
  color: #9d9fb0 !important;
  font-weight: 500 !important;
}

.menuStyle > .ant-menu-item-selected:nth-child(3) {
  color: #323444 !important;
  font-weight: 600 !important;
}

.menuStyle > .ant-menu-item:nth-child(3) .ant-menu-title-content {
  padding-left: 0;
  border-left: none;
}

.custom-switch .ant-switch-inner {
  padding-inline-start: 0rem !important;
  padding-inline-end: 1.0625rem !important;
}

.custom-scollbar::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #d7d7e2;
}

.custom-scollbar::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #fafafb;
}

.custom-scollbar::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background-color: #fafafb;
}
